(
	name: "Test",
	schematics: {
		"fighting_game::game::player::Player": (
			name: "Test",
			health: 12.0,
			moveset: ({
				"Punch": (
					inputs: [Light],
					time: 1.0,
				),
				"Super Punch": (
					inputs: [Down, Left, Heavy],
					time: 5.0,
				),
			}),
			jump_time: 0.32,
			physics: (
				velocity: (
					x: 0.0, 
					y: 0.0
				),
				acceleration: 8.0,
				friction: 0.9,
				max_speed: 20.0,
				jump_speed: 35.0,
			),
			collider: 50.0,
		),
	},
)
