(
	name: "Test",
	schematics: {
		"fighting_game::game::player::Player": (
			name: "Test",
			health: 12.0,
			physics: (
				velocity: (
					x: 0.0, 
					y: 0.0
				),
				acceleration: 8.0,
				friction: 0.9,
				max_speed: 10.0,
				jump_speed: 25.0,
			),
			collider: 50.0,
		),
	},
)
