(
	name: "Player1",
	schematics: {
		"fighting_game::game::player::PlayerNumber": (1),
		"bevy_proto::custom::TransformBundle": (
			local: Transform(
				translation: (
					x: -500.0,
					y: 0.0,
					z: 0.0,
				),
			),
		),
	},
)
